body{
    background-color: black;
}

h1{
    font-size: 4rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 222px auto 0 auto;
}

#buttons{
    text-align: center;
    margin: 12% auto auto;
    padding: 10px 10px;
    
}

.myButton1 {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color: blue;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:25px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton1:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton1:active {
	position:relative;
	top:1px;
}

.myButton2 {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color: yellow;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:25px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton2:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton2:active {
	position:relative;
	top:1px;
}

.myButton3 {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color: red;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:25px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton3:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton3:active {
	position:relative;
	top:1px;
}

.myButton4 {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color: navy;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:25px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton4:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton4:active {
	position:relative;
	top:1px;
}

.myButton5 {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color: lime;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:25px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton5:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton5:active {
	position:relative;
	top:1px;
}

.myButton6 {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color: purple;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:25px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton6:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton6:active {
	position:relative;
	top:1px;
}